body {
  margin: 0px;
  font-family: 'Dancing Script', cursive;
  background-color: #E8F5CC;
}

.jumbotron {
	background-color: #D7EFA8;
	box-shadow: 2px 2px 4px 8px #008000;
}
.row {
	margin: 0px;
	padding:0px;
}
 h1 {
	text-align: center;
	float: center;
  font-weight: bold;
  margin: 100%;
  text-shadow: 5px 5px 10px #cc6699;
  margin: 5px;
  font-style: oblique;
}
h2 {
	text-align: center;
	float: center;
  font-weight: bold;
  margin: 100%;
  text-shadow: 5px 5px 10px #cc6699;
  margin: 5px;
  font-style: oblique;
}

h1:hover {

font-weight: bold;
  text-shadow: 3px 3px 5px #95d097;


}
h2:hover {
	font-weight: bold;
  text-shadow: 3px 3px 5px #95d097;


}

#myNavbar span {
margin-right: 5px;
}

#myNavbar ul li a{
	margin: 3px;
border-radius: 15px;
color: white;

}

#myNavbar ul li a:hover {
color: red;
}

#myNavbar ul li:hover {
border-style: dotted;
border-width: 2px;
border-color: red;
border-radius: 15px;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: red;
}


.navbar {
background-color: #008000;
border-radius: 15px;
border: transparent;
}

.navbar a {

font-weight: bold;
padding:5px;
margin:5px;
}


.navbar-brand p {
font-size: 23px;
color: black;
  font-style: oblique;
font-weight: bold;
padding:5px;
margin:5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: black;
}

#wrapper {
  text-align:center;
  perspective: 2500;
	-webkit-perspective: 2500;
	margin-top: 40px;
	margin-bottom: 40px;
  perspective-origin: 50% 150px;
	-webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
	-webkit-transition: -webkit-perspective, 1s;
}

#image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}


@-webkit-keyframes spin {
	from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
	}
	to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
		-webkit-transform: rotateY(-360deg);
	}
}

#image {
	margin: 0 auto;
	height: 300px;
	width: 400px;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
	-webkit-animation: spin 24s infinite linear;
}

.image {
	position: absolute;
	height: 300px;
	width: 400px;
	background-color:  none;
	text-align: center;
	font-size: 13em;
	color: #fff;
  overflow: hidden;
}

#image > .i1 {
  transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
}
#image > .i2 {
  transform: rotateY(45deg) translateZ(485px);
  -moz-transform: rotateY(45deg) translateZ(485px);
  -o-transform: rotateY(45deg) translateZ(485px);
  -ms-transform: rotateY(45deg) translateZ(485px);
  -webkit-transform: rotateY(45deg) translateZ(485px);
}
#image > .i3 {
  transform: rotateY(90deg) translateZ(485px);
  -moz-transform: rotateY(90deg) translateZ(485px);
  -o-transform: rotateY(90deg) translateZ(485px);
  -ms-transform: rotateY(90deg) translateZ(485px);
  -webkit-transform: rotateY(90deg) translateZ(485px);
}
#image > .i4 {
  transform: rotateY(135deg) translateZ(485px);
  -moz-transform: rotateY(135deg) translateZ(485px);
  -o-transform: rotateY(135deg) translateZ(485px);
  -ms-transform: rotateY(135deg) translateZ(485px);
  -webkit-transform: rotateY(135deg) translateZ(485px);
}
#image > .i5 {
  transform: rotateY(180deg) translateZ(485px);
  -moz-transform: rotateY(180deg) translateZ(485px);
  -o-transform: rotateY(180deg) translateZ(485px);
  -ms-transform: rotateY(180deg) translateZ(485px);
  -webkit-transform: rotateY(180deg) translateZ(485px);
}
#image > .i6 {
  transform: rotateY(225deg) translateZ(485px);
  -moz-transform: rotateY(225deg) translateZ(485px);
  -o-transform: rotateY(225deg) translateZ(485px);
  -ms-transform: rotateY(225deg) translateZ(485px);
  -webkit-transform: rotateY(225deg) translateZ(485px);
}
#image > .i7 {
  transform: rotateY(270deg) translateZ(485px);
  -moz-transform: rotateY(270deg) translateZ(485px);
  -o-transform: rotateY(270deg) translateZ(485px);
  -ms-transform: rotateY(270deg) translateZ(485px);
  -webkit-transform: rotateY(270deg) translateZ(485px);
}
#image > .i8 {
  transform: rotateY(315deg) translateZ(485px);
  -moz-transform: rotateY(315deg) translateZ(485px);
  -o-transform: rotateY(315deg) translateZ(485px);
  -ms-transform: rotateY(315deg) translateZ(485px);
  -webkit-transform: rotateY(315deg) translateZ(485px);
}

.image>img {
  width:100%;
  position: relative;
  top: -30%;
}

h4 {
	font-size: 1.7em;
	text-align: center;
	float: center;
  font-weight: bold;
  margin: 100%;
  text-shadow: 5px 5px 10px #cc6699;
  margin: 5px;
  font-style: oblique;
  margin-top: 100px;
}

footer {
    background-color: #223B25;
    color: #f5f5f5;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}
.link_info_container{
  position: relative;
  margin-top: 15px;
}
.footer_up_btn {
  position: absolute;
  right: 0px;
}
.footer_soc_icon {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer_navigation_bar{
  padding: 10px;
}
.footer_navigation_bar>ul {
  margin-left: 0;
  padding: 0;
}
.footer_navigation_bar>ul>li {
  list-style-type: none;
  display: inline;
  font-size: 1.4em;
  margin: 5px;
}
.horizontal {
  border-left: 3px solid;
}


@media only screen and (max-width: 480px) {


}
